<h1> Dice Roll </h1>

  <form action="/dice/sides?">
    <label for="dice"> Number of dice to roll? </label>
    <input id="dice" name="num_dice">

    <label for ="sides"> How many sides per die? </label>
    <input id="sides" name="num_sides">

    <button>Submit</button>
